node_modules/
build/
deploy/
.cache/
coverage/
test-artifacts/

package-lock.json
npm-debug.log*

config.json
config*.json
cert*
*.log
log
x
mom-*.tgz
*.tgz
release*/

test/
icx/

.DS_Store
.codex
*~
*.un~
.*.un~
